<form #form1="ngForm" (ngSubmit)="onSubmit(form1)">
    <label for="useremail">Useremail:</label>
    <input #name="ngModel" id="useremail" [(ngModel)]="useremail" name="useremail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" >
    @if(name.touched && name.hasError('required')){
        <small>email is required</small>
    }
    @if(name.touched && name.hasError('pattern')){
        <small>email not valid</small>
    }
    
    <label for="password">password:</label>
    <input id="password" [(ngModel)]="password" name="password" required>

    <button type="submit" [disabled]="form1.invalid">Submit</button>
   </form>
