

  <mat-selection-list #lessons>
    <div id  = "listTitle">
      <button mat-icon-button (click)="addLesson()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <h3 mat-subheader>רשימת שיעורים </h3>
    </div>
    @for(item of  lessons$ | async; track item.id){
    <ng-container>
      <div class="lesson-row" (mouseenter)="hover = true" (mouseleave)="hover = false">
        <h4 mat-line>{{ item.title | numberPrefix:item.id}}</h4>
        <div class="icon-container">
        <button mat-icon-button (click)="editLesson(item.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteLesson(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      </div>
    </ng-container>
    }
  </mat-selection-list>
  
