.courses-container {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
  }
  
  .course-card {
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex; /* שימוש ב-flexbox כדי להבטיח שהתוכן בשורה אחת */
    align-items: center; /* פיזור התוכן באופן שווה בין הכותרת לאייקונים */
  }
  
  .course-card:hover {
    transform: scale(1.05);
  }
  .wrapper {
    display: flex; /* מאפשר שימוש ב-Flexbox */
    justify-content: center; /* מרכז את התוכן אופקית */
    align-items: center; /* מרכז את התוכן אנכית */
    /* height: 100vh; גובה של 100% מהגובה של חלון התצוגה */
}
button{
 background-color: rgb(249, 95, 226); /* צבע רקע ורוד */
  color: white;
}
